<footer class="footer">
    <div class="footerDiv">
        <!-- Left column: Additional information and copyright -->
        <div style="min-width: 220px;">
            <h3 class="footer-title">additional information</h3>
            <p style="color: #ffffff;">All content, images, and designs on this site are the property of redhed and may not be reproduced without permission.</p>
        </div>	
        <!-- Right column: Social media links -->
        <div style="min-width: 220px;">
            <h3 class="footer-title">follow us!</h3>
            <!-- Instagram icon/link -->
            <a class="footerIcons" href="https://www.instagram.com/redhed.fr?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                <img src="/images/Instagram-Logo.svg" alt="Instagram" height="30" width="30" />
            </a>
            <!-- Spotify icon/link -->
            <a class="footerIcons" href="https://open.spotify.com/artist/3ikzELzvU8fgUC5uaIPMUV?si=mKEW_wuXQrKBm4dcjbNr7A" target="_blank">
                <img src="/images/Spotify-logo.svg" alt="Spotify" height="30" width="30" />
            </a>
            <!-- TikTok icon/link -->
            <a class="footerIcons" href="https://www.tiktok.com/@redhed.fr?_t=ZS-8zoqjvf1APs&_r=1" target="_blank">
                <img src="/images/Tiktok-logo.svg" alt="TikTok" height="30" width="30" />
            </a>
            <!-- YouTube icon/link -->
            <a class="footerIcons" href="https://youtube.com/@redhed.1?si=Z_u9gdkxMPsFxpDs" target="_blank">
                <img src="/images/Youtube-logo.svg" alt="YouTube" height="30" width="30" />
            </a>
        </div>
    </div>
</footer>
