<nav class="navbar navbar-expand-md">
    <!-- Company logo, links to home page -->
    <a class="navbar-brand" href="/">
       <img src="/images/RedhedLogoDM.png" alt="Redhed Logo" style="width:200px; height:200px; object-fit:contain;">
    </a>
    <!-- Hamburger menu button for mobile view -->
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <!-- Navigation links -->
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/merch">Merchandise</a></li>
            <li class="nav-item"><a class="nav-link" href="/news">News</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
